* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20x;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}


#questions{
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
    animation: fadeIn 1s forwards;
}
#questions p {
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 30px;
}
button {
    margin: 15px;
    padding: 12px 25px;

    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #2980b9;
}
button:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}

#diagnosis-container {
    display: none;
    margin-top: 20px;
    padding: 30px 50px;
    background-color: #f4f4f4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
max-width: 500px;
width: 100%;
margin-top: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#welcomePage{
    background-color: white;
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    transform: scale(0.9);
    animation: scaleUp 1s forwars;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#welcomePage h1{
    font-size: 36px;
font-weight: bold;
color: #2c3e50;
margin-bottom: 20px;

}



#welcomePage p {
font-size: 18px;
color: #34495e;
margin-bottom: 30px;


}


#start {
    background-color: #3498db;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

#start:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}
#diagnosis-container strong {
    font-size: 22px;
    color: #2c3e50;
}

#diagnosis-results {
    margin-top: 20px;
    font-size: 20px;
    color: #34495e;
}


